@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

html{
    background-color: rgba(164, 196, 165, 0.384);
}
.main{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-column-gap: 50px;
}
a:link{
    text-decoration: none;
}
@font-face {
    font-family: Alkatra;
    src: url(https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap);
}
h3{
    font-family: Alkatra;


}
